<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Songr Songs</title>
</head>
<body>
    <h1>Test</h1>

    <div>
        <p>Add a Song</p>
        <form method="POST" action="/songs">
            Title:<input name="title" />
            Album:<input name="album" />
            length:<input type="long" name="length" />
            trackNumber:<input type="integer" name="trackNumber"/>
            <input type="submit" />
        </form>
    </div>

    <div th:each="song : ${songs}" class="song">
        <h3 th:id="${song.title}" th:text="${song.title}">Song Title</h3>
        <p>Preformed on <span th:text="${song.album}"</span></p>
        <p>Track Number <span th:text="${song.trackNumber}"></span></p>
        <p>Track Length <span th:text="${song.length}"></span></p>
    </div>
</body>
</html>